h1 {
    text-align: center;
    font-style: italic;
    color: white;
    font-size: 40px;
}

body {
    background-color: #282a2c;
    color: white;
    footer
}

#html {
    width: 100px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
}

#css {
    width: 100px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 100px;
}

    h2{
        text-align: center;
        font-size: 40px;
        font-family: italic;
    }

    #html1 {
        font-size: 40px;
        text-align: center;
    }

    .ex {
        text-align: center;
        font-size: 20px;
        border: solid 1px white;
        background-color: #606d75;
    }

    h3 {
        text-align: center;
        font-size: 40px;
        font-family: italic;
    }